/.cache/
/.lighthouseci/
/.next/
/.storybook/.cache/
/.storybook/coverage/
/.storybook/storybook-static/
/.vscode/i18n-ally-reviews.yml
/build/
/data/
/dist/
/public/mockServiceWorker.js
/src/server/trpc-next-layout/**/*.ts
/src/server/trpc-next-layout/**/*.tsx
/src/**/*.docx
/src/**/*.transformed.html
**/.dockerignore
/package-lock.json
/tsconfig.json
